# -----------------------------
# Conda environment
# -----------------------------
env/
*.conda
*.yaml

# -----------------------------
# Python cache
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Jupyter Notebook
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# VS Code settings
# -----------------------------
.vscode/

# -----------------------------
# Data files (large or sensitive)
# -----------------------------
data/
*.tsv
*.xlsx
*.xls
*.json
*.parquet

!data/*.csv


# -----------------------------
# Environment variables
# -----------------------------
.env

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Logs
# -----------------------------
*.log